.box {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    width: 20vw;
  }
  


.box .imageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 15vh;
}
  .box img {
    width: 15vw;
    height: 15vh;
    object-fit: contain;
}

.desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 30px;
  }