.box {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    position: relative;
  }
  

 .imageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
  .box img {
    width: 15vw;
    height: 15vh;
    object-fit: contain;
}

.desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 0.8rem;
    font-style: normal;
  }

.button{
    width: 100%;
    margin-top: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #FF8732;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 0.8rem;
    font-style: normal;
    padding: 8px;
    line-height: 1rem;
}
.btnGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imageBox span{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FF8732;
    padding: 0.4rem;
    border-radius: 100%;
    width: 0.8rem;
    height: 0.8rem;
    z-index: 1;
    top: 10px;
    right: 0.1rem ;
}
.animatedButton, .animatedButtonMinus{
    width: 49%;
    margin-top: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #FF8732;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 0.8rem;
    font-style: normal;
    padding: 8px;
    line-height: 1rem;
}
.animatedButton{
    width: 49%;
    animation: btnAnimation 300ms ease 0ms 1 ;
}
.imageBox span{
    animation: spanAnimation 300ms ease;
    animation-iteration-count: 1;
}

@keyframes btnAnimation {   
    from {
        width: 100%;
    }
    to {
        width: 49%;
    }
}

@keyframes spanAnimation {   
    from {
        opacity:0;
        width: 0;
        height: 0;
    }
    to {
        opacity: 1;
        width: 0.8rem;
        height: 0.8rem;
    }
}