@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600&display=swap');

body{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-size: 0.8rem;
    font-style: normal;
    background-color: #F2F2F7;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/
}